name: "nix"
on:
  pull_request:
  push:
permissions:
  contents: write
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Install nix
      uses: cachix/install-nix-action@v31

    - name: Install cachix
      uses: cachix/cachix-action@v16
      with:
        name: jecaro
        authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'

    - name: Build
      run: |
        nix build .#htagcli .#htagcli-static

    - name: Compress
      if: startsWith(github.ref, 'refs/tags/')
      run: tar -czf htagcli.tar.gz -C result-1/bin htagcli

    - name: Release
      uses: softprops/action-gh-release@v2
      if: startsWith(github.ref, 'refs/tags/')
      with:
        draft: true
        files: htagcli.tar.gz
